.cases {
  padding: 70px 0;
  text-align: center;
  background-color: white;
  filter: brightness(99%);

  &__inner {
    width: 80%;
    max-width: 1100px;
    margin: auto;
  }

  &__item {
    padding: 10px !important;
    cursor: pointer;

    img {
      width: 100%;
      object-fit: cover;

      &:hover {
        transform: scale(0.9);
      }
    }

    h4 {
      font-size: 28px;
      font-weight: 700;
      color: #dcdcdc;
      text-align: center;
      margin-bottom: 8px;
    }

    h3 {
      font-size: 26px;
      margin-top: 20px;
      color: #333;
      line-height: 1.42857143;
      font-weight: normal;
    }
  }
}
