.profit {
  background-color: white;
  filter: brightness(99%) !important;
}

.advantages {
  padding: 50px 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: white;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    &-title {
      font-size: 46px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 1.2;
      margin-top: 20px;
      margin-bottom: 10px;

      span {
        color: #35bf8d;
      }
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__list {
    list-style: none;
    counter-reset: num;
    padding: 0 50px;
    margin-top: 50px;
    margin-bottom: 30px;

    &-item {
      font-size: 18px;
      margin-bottom: 30px;
      position: relative;

      &::before {
        content: "0" counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        top: 0px;
        left: -60px;
        width: 50px;
        color: #35bf8d;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

.second-order {
  order: -1 !important;
  padding: 50px;
  margin-top: 130px;
}

@media screen and (max-width: 900px) {
  .advantages__inner {
    grid-template-columns: 1fr;
  }
  .second-order {
    order: 1 !important;
    margin-top: 10px;
    padding: 0;
  }
  .advantages__item {
    display: grid;
    justify-content: center;
    img {
      width: 70% !important;
      margin: auto;
    }
  }
}
