.tab {
  padding: 70px 0;
  width: 100%;
  margin: auto;
  background-color: white;
  filter: brightness(99%);

  &__select-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    gap: 0;
    p {
      display: block;
      border: none;
      border-radius: 0;
      font-size: 17px;
      font-weight: 700;
      color: #333;
      margin-right: 0;
      text-align: center;
      padding: 0;
      margin: 0;
      z-index: 1;
      transition: all 0.3s ease 0s;
    }
  }

  .advertisement {
    width: 100px;
  }
  &__select-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    p {
      padding: 0;
      margin: 0;
    }
  }

  .tab-icon {
    display: block;
    text-align: center;
  }

  .react-tabs__tab--selected {
    border: none;
    background-color: inherit;
    border-bottom: 3px solid #35bf8d;
    transition: all 0.3s ease 0s;

    &:hover {
      border-bottom: none;
      transition: none;
    }
  }
}

.react-tabs__tab {
  position: relative;
  padding: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    transform: scale(0, 1);
    background-color: #35bf8d;
    transition: all 0.3s ease 0s;
  }

  &:hover::after {
    transform: scale(1, 1);
  }
}

.tab-icon {
  display: block;
  font-size: 40px;
  color: #35bf8d;
  margin-bottom: 15px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  line-height: 1;
  text-align: center;
}
.react-tabs__tab-list {
  border: none;
}

.react-tabs__tab-panel--selected {
  animation: fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
